@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ABCWhyteEdu-Heavy';
  src: url('/fonts/ABCWhyteEdu-Heavy.woff') format('woff'),
    url('/fonts/ABCWhyteEdu-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABCWhyteEdu-Bold';
  src: url('/fonts/ABCWhyteEdu-Bold.woff') format('woff'),
    url('/fonts/ABCWhyteEdu-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABCWhyteEdu-Medium';
  src: url('/fonts/ABCWhyteEdu-Medium.woff') format('woff'),
    url('/fonts/ABCWhyteEdu-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABCWhyteEdu-Regular';
  src: url('/fonts/ABCWhyteEdu-Regular.woff') format('woff'),
    url('/fonts/ABCWhyteEdu-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraCode-SemiBold';
  src: url('/fonts/FiraCode-SemiBold.woff') format('woff'),
    url('/fonts/FiraCode-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraCode-Regular';
  src: url('/fonts/FiraCode-Regular.woff') format('woff'),
    url('/fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* masonry slice component Css - Carousel */

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 2em;
      column-count: 1;
    }
    .masonry-sm {
      column-gap: 2em;
      column-count: 1;
    }
    .masonry-md {
      column-gap: 2em;
      column-count: 2;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

/* Image Card Zoom on Hover Css */

.card-zoom {
  @apply relative  mb-6 flex h-[325px] w-full items-center justify-center overflow-hidden rounded-2xl shadow-xl lg:mb-0 2xl:h-[728.3408px];
}
.card-zoom-image {
  @apply absolute h-full w-full transform bg-cover bg-center transition-all duration-500 ease-in-out;
}

.card-zoom:hover .card-zoom-image {
  @apply scale-110;
}
.card-zoom:hover {
  @apply scale-100;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
