@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: ABCWhyteEdu-Bold;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ABCWhyteEdu-Bold.woff') format('woff'),
    url('/fonts/ABCWhyteEdu-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: ABCWhyteEdu-Medium;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ABCWhyteEdu-Medium.woff') format('woff'),
    url('/fonts/ABCWhyteEdu-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: ABCWhyteEdu-Book;
  font-style: normal;
  font-weight: 350;
  src: url('/fonts/ABCWhyteEdu-Book.woff') format('woff'),
    url('/fonts/ABCWhyteEdu-Book.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: FiraCode-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/FiraCode-SemiBold.woff') format('woff'),
    url('/fonts/FiraCode-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: FiraCode-Regular;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/FiraCode-Regular.woff') format('woff'),
    url('/fonts/FiraCode-Regular.woff2') format('woff2');
}

/* Masonry slice component Css - Carousel */

@layer utilities {
  @layer responsive {
    .masonry {
      column-count: 1;
      column-gap: 2em;
    }

    .masonry-sm {
      column-count: 1;
      column-gap: 2em;
    }

    .masonry-md {
      column-count: 2;
      column-gap: 2em;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}

/* Image Card Zoom on Hover Css */

.card-zoom {
  @apply relative  mb-6 flex h-[325px] w-full items-center justify-center overflow-hidden rounded-xl lg:mb-0 lg:h-[480px];
}

.card-zoom-image {
  @apply absolute h-full w-full transform bg-cover bg-center transition-all duration-500 ease-in-out;
}

.card-zoom:hover .card-zoom-image {
  @apply scale-110;
}

.card-zoom:hover {
  @apply scale-100;
}

.language-typescript {
  position: relative;
}

.language-typescript > span {
  min-height: 1.5rem;
  padding-left: 3rem;
  font-display: swap;
  font-family: FiraCode-Regular, monospace;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4625rem;

  @apply flex md:block !important;
}

.language-typescript > span > span {
  flex-shrink: 0;
}

.language-typescript .linenumber {
  position: absolute;
  left: 0;
  opacity: 0.5;
}

/* Composited typing animation */
.will-change-transform {
  will-change: transform;
}
